.nav-item{
    margin: 1rem 1.4rem;
    font-size: 20px;;
}

nav{
    text-align: center;
    background-color: #c6ffc1;
}
.brand{
    margin-right: 1rem;
}
img{
    width: 70px;
}

.soc{
    font-size: 35px;
    margin: auto 20px;
}

.a{
    margin: auto 17px;
    font-size: 35px;
}

.fab:hover{
    color:#6c6c6c;
}

.g{
    text-align: center;
    margin: 2rem auto;
}

.card{
    text-align: center;
}

